{% extends 'base.html' %} {% block content %}
<html lang="en">

<head>


    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/css.css' %}">
    <title>Document</title>
</head>

<body class="bg-light">
    <div id='body_index'>
        <h1>Recomended</h1>
        {% csrf_token %}
        <div class="row">
            {%for product in products %}
            <div style="padding-right: 10px;">
                <a style="color: black;" href="/videoshow/{{product.id}}">
                    <div class="card" style="padding-bottom: 100px;">
                        <div id="cardsinzoom">
                            <div class="image">
                                <img id="cardsinzoom" src="/media/{{product.image}}" class="card-img-top" alt="..."
                                    class="img">
                                <div id="text-block" class="bottom-right">
                                    <p>{{ product.videoTime }}</p>
                                </div>
                            </div>
                            <div class="vidoe_info">
                                <span class="title">
                                    
                                    <img class="rounded-circle" src="/media/{{product.icon}}" alt="..."
                                        style="height: 37px; width: 40px;">
                                    {{ product.title }}
                                </span>
                                <span class="title2">
                                    {{ product.username }}
                                    {{ product.views }}
                                    {{ product.uploadeDay }}
                                </span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</body>

</html>


{% endblock %}