@media screen and (max-width: 718px) {
    #navbar_search {
        width: 40%;
    }
    #navbar_link {
        display: none;
        
    }
    .container {
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        position: absolute;
        left: -88px;
        top: 60px;
        right: 0;
        bottom: 0;
    }
    .row {
        width: 600px;
    }
    #card {
        padding-right: 100px;
        
    }
    #cardsinzoom {
        width: 288px;
        height: 200px;
    }
    #navbar {
        width: 100%;
        background-color: white;
    }
    #navbar div {
        width: 100%;
    }
    #navbartop {
        display: none;
    }
    #sidebarstyle1 {
        background-color: white;
        z-index: 9999;
        position: fixed;
        height: 100%;
        overflow-y: auto;
        padding-bottom: 100px;
    }
    .stop-scrolling {
        height: 100%;
        overflow: hidden;
    }
}

@media screen and (min-width: 718px) {
    #navbar_search {
        width: 70%;
    }
    .container {
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        position: absolute;
        left: 150px;
        top: 60px;
        right: 0;
        bottom: 0;
    }
    #cardsinzoom {
        width: 265px;
        height: 175px;
    }
    #navbar {
        z-index: 9999;
        width: 100%;
        background-color: white;
        position: fixed;
    }
    #navbartop1 {
        display: none;
        background-color: white;
    }
    #sidebarstyle {
        z-index: 9999;
        overflow-y: auto;
        height: 100%;
        padding-bottom: 100px;
        top: 70px;
        position: fixed;
    }
    #navbar_link{
    z-index: 9999;
    overflow-y: auto;
    height: 100%;
    padding-bottom: 100px;
    top: 70px;
    position: fixed;
    }
}

@media screen and (max-width: 605px) {
    #navbar_search {
        width: 30%;
    }
}

.icon {
    text-align: right;
}

span.title {
    display: inline-block;
}

span.title2 {
    width: 250px;
    display: inline-block;
}

.vedio_info {
    height: 100px;
    width: 100px;
}

.imgpic {
    width: 40px;
    height: 40px;
    border: 1px solid blue;
}

.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
}

.text-block {
    position: absolute;
    bottom: 80px;
    right: -10px;
    color: white;
    padding-left: 10px;
}

.image {
    position: relative;
    width: 100%;
    /* for IE 6 */
}

p {
    position: absolute;
    top: 64px;
    left: -84px;
    width: 100px;
    text-align: right;
}

.tab_image {
    border-radius: 40px;
    padding: 0px;
}

#navbaropen button:focus {
    width: 40px;
    height: 40px;
    border-color: white;
    padding-right: 5px;
}

#navbar_side {
    background-color: #ffffffaf;
    border-color: white;
    width: 160px;
}

.buttons_nav {
    display: inherit;
    width: 25%;
}

.nav-link {
    color: black;
}

.navbar {
    flex-wrap: unset;
}

#navbar_yt {
    width: 29%;
}

#search_button {
    border-color: white;
    outline: none;
    box-shadow: none;
}

#serchbutton {
    outline: none;
    box-shadow: none;
}

#buttons {
    border-color: white;
    outline: none;
    box-shadow: none;
}

#navbar_link {
    list-style-type: none;
    padding-inline-start: 0px;
    padding: inherit;
}

h1 {
    color: blue;
}
#vediopress{
    border: none;
    background: none;
    background-color: black;
    opacity: 0.1;
    position: absolute;
    height: 100px;
    
}
#card{
    position: relative;
    
}