<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/css.css' %}">
  <link class="tab_image" rel="icon" href="{% static 'images/YouTube_icon.png' %}">
  <title>YouTube</title>

</head>
<nav id="navbar" class="navbar navbar-light">
  <div id="navbar_yt" style="display: inherit">
    <button id="navbaropen" onclick="removescroll()" class="navbar-toggler" type="button" data-toggle="collapse"
      style="border-color: rgba(0,0,0,0);outline: 0px;" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <img src="{% static 'images/YouTube_icon.png' %}" style=" height:
    37px; width: 40px; " alt="">
    <a class="navbar-brand" href="/">YouTube</a>
  </div>
  <div id="navbar_search" style="display: inherit;" class="border border-dark">
    <input id="search_button" class="form-control my-0 py-1 red-border rounded-0" type="text" placeholder="Search"
      aria-label="Search" style=" height:45px;">
    <span class="border-left border-dark" style=" height: 45px; width: 70px;background-color: #dadada;">
      <button id="serchbutton" class="btn my-2 my-sm-0" type="submit" style="height: 45px;width: 70px;"><i
          class="fas fa-search text-grey bg-light" aria-hidden="true"><img src="{% static 'images/search.png' %}"
            style=" height:20px; width: 20px; " alt=""></i></button></span>
  </div>
  <div class="buttons_nav" style="display: inherit">
    <div class="dropdown">
      <button id="buttons" type="button" class="btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <img src="{% static 'images/camera.png' %}" style=" height:20px; width: 20px; " alt="">
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        {% if request.user.is_authenticated  %}
        <a class="dropdown-item" href="/upload">Upload video</a>
        {% else %}
        <a class="dropdown-item" href="/login">Upload video</a>
        {% endif %}
        <a class="dropdown-item" href="#">Go live</a>
      </div>
    </div>
    <div class="dropdown">
      <button id="buttons" class="btn" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        <img src="{% static 'images/dots.png' %}" style=" height:20px; width: 20px; " alt="">
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">YouTube TV</a>
        <a class="dropdown-item" href="#">YouTube Music</a>
        <a class="dropdown-item" href="#">YouTube Kids</a>
        <a class="dropdown-item" href="#">YouTube Academy</a>
        <a class="dropdown-item" href="#">YouTube for Artists</a>
      </div>
    </div>
    {% if request.user.is_authenticated  %}
    <div class="dropdown">
      <button id="buttons" type="button" class="btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <img src="{% static 'images/bell.png' %}" style=" height:20px; width: 20px; " alt="">
      </button>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Action</a>
      </div>
    </div>
    <div class="dropdown">
      {% if user.userprofile.icon %}
      <button id="buttons" type="button" class="btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <img class=" rounded-circle " src="{{user.userprofile.icon.url}}" style="height: 25px;">
      </button>
      {% else %}
      <button id="buttons" type="button" class="btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <img class=" rounded-circle " src="/static/images/default_icon.png" style="height: 25px;">
      </button>
      {% endif %}
      <div class="dropdown-menu dropdown-menu-right">
        <a class="dropdown-item" href="/logout">Sign out</a>
        <a class="dropdown-item" href="/user">Your channel</a>
      </div>
    </div>
    {% else %}
    <div class="dropdown">
      <button id="buttons" type="button" class="btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <img src="{% static 'images/dotsx3.png' %}" style=" height:20px; width: 20px; " alt="">
      </button>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Action</a>
      </div>
    </div>
    <div>
      <button id="buttons" type="button" class="btn">
        <a href="/login">
          <div class="rectangle"></div>
        </a>
      </button>
    </div>
    {% endif %}
  </div>
</nav>
<div id="navbartop">
  <nav id="navbar_side" class="scrolling-navbar">
    <div>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul id="sidebarstyle" class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Trending</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Subscriptions</a>
          </li>
          <li>
            <hr>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Library</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">History</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Your videos</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Watch later</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Liked Videos</a>
          </li>
          <li>
            <hr>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">SUBSCRIPTIONS</a>
          </li>
          <li>
            <hr>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">More FROM YOUTUBE</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">YouTube Premium</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Gaming</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Live</a>
          </li>
          <li>
            <hr>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Settings</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Report history</a>
          </li>
          <li class="nav-item active"">
          <a class=" nav-link" href="#">Help</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Send feedback</a>
          </li>
          <li>
            <hr>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Press</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Copyright</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Contact us</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Creators</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Advertise</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Developers</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Terms</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Privacy</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Policy and Safety</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Test new features</a>
          </li>
          <li class="disabled">
            <a>@2020 Google LLC</a>
          </li>
      </div>
  </nav>
</div>


<div id="navbartop1">
  <nav id="navbar_side" class="scrolling-navbar">
    <div>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" style="background-color: black; opacity: 0.35; height: 849px; width: 520px; position: absolute;
          left: 158px; top: 66px; z-index: 1;">
        </div>
        <ul id="sidebarstyle1" class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Trending</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Subscriptions</a>
          </li>
          <li>
            <hr>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Library</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">History</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Your videos</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Watch later</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Liked Videos</a>
          </li>
          <li>
            <hr>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">SUBSCRIPTIONS</a>
          </li>
          <li>
            <hr>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">More FROM YOUTUBE</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">YouTube Premium</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Gaming</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Live</a>
          </li>
          <li>
            <hr>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Settings</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Report history</a>
          </li>
          <li class="nav-item active"">
          <a class=" nav-link" href="#">Help</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Send feedback</a>
          </li>
          <li>
            <hr>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Press</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Copyright</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Contact us</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Creators</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Advertise</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Developers</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Terms</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Privacy</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Policy and Safety</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Test new features</a>
          </li>
          <li class="disabled">
            <a>@2020 Google LLC</a>
          </li>
      </div>
  </nav>

</div>



</div>

<nav id="navbar_side" class="scrolling-navbar">
  <div id="nav2">
    <div class="navbar-collapse collapse show" id="navbarSupportedContent">
      <ul id="navbar_link">
        <li class="nav-item active">
          <a class="nav-link " style="padding: 0px;" href="#">Home</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" style="padding: 0px;" href="#">Trending</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" style="padding: 0px;" href="#">Subscriptions</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" style="padding: 0px;" href="#">Library</a>
        </li>
      </ul>
    </div>
  </div>
</nav>




<body>
  <div class="container">
    {% block content %}
    {% endblock %}
  </div>

  <script>
    var value = 1
    function removescroll() {
      if (value == 1) {
        document.body.classList.add("stop-scrolling");
        value = value - 1

      }
      else {
        document.body.classList.remove("stop-scrolling");
        value = value + 1
      }
    }

  </script>



  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src=" https://code.jquery.com/jquery-3.5.1.slim.min.js "
    integrity=" sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj "
    crossorigin=" anonymous "></script>
  <script src=" https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js "
    integrity=" sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo "
    crossorigin=" anonymous "></script>
  <script src=" https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js "
    integrity=" sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI "
    crossorigin=" anonymous "></script>
</body>

</html>