{% extends 'base.html' %}

{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Document</title>

</head>

<body>
    <div style="
position: absolute;
top: 150px;
right: 400px;">
            {% csrf_token %}
            <a href="update/{{user.userprofile.user_id}}">
                {% if user.userprofile.icon %}
                <img class=" rounded-circle " src="{{user.userprofile.icon.url}}" alt="profile icon"
                    style=" height: 100px; width: 150px; ">
                {% else %}
                <img class=" rounded-circle " src="{% static 'images/default_icon.png' %}" alt="profile icon"
                    style=" height: 100px; width: 150px; ">
                {% endif %}
            </a>
            {{userform.username}}
    </div>
</body>

</html>


{% endblock %}